<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <bean id="replier" class="nkorange.replier.DefaultReplier">
        <property name="brain" ref="brain"/>
        <property name="listener" ref="listener"/>
        <property name="speaker" ref="speaker"/>
        <property name="worker" ref="worker"/>
    </bean>
    <bean id="brain" class="nkorange.replier.core.NLPBrain">
        <property name="speaker" ref="speaker"/>
        <property name="moduleManager" ref="moduleManager"/>
        <property name="memory" ref="memory"/>
    </bean>
    <bean id="processor" class="nkorange.replier.core.nlp.StandfordNLPProcessor">
    </bean>
    <bean id="listener" class="nkorange.replier.ScreenReader"/>
    <bean id="speaker" class="nkorange.replier.ScreenWriter"/>
    <bean id="worker" class="nkorange.replier.DefaultWorker"/>
    <bean id="moduleManager" class="nkorange.replier.core.module.ModuleManager">
        <property name="processor" ref="processor" />
    </bean>
    <bean id="memory" class="nkorange.replier.core.memory.Memory"/>
</beans>